[Unit]
Description=Hello Mundo Service
After=network.target

[Service]
User=herberth
Type=simple
ExecStart=/bin/bash /home/herberth/Documents/Sistemas_Operativos_1/Clase/actividad4/hello_script.sh
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
